.logo
{
    width:40px;
    margin-top:-10px;
}
body{ font-family: 'ProximaNovaLtLight';background-color: #000000;}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.navbar-default{
  transition:500ms ease;
  background-color:transparent !important;
  color: #000000;
    border:none !important;
    min-height:52px !important;

}
/* FADE/SCALE EFFECT */
	.modal.fade .modal-dialog {
		opacity: 0;
		-webkit-transform: scale(0.1);
			-ms-transform: scale(0.1);
			 -o-transform: scale(0.1);
				transform: scale(0.1);
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
			 -o-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}

	.modal.fade.in .modal-dialog {
		opacity: 1;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
			 -o-transform: scale(1);
				transform: scale(1);
		-webkit-transform: translate3d(0%, 0, 0);
			-ms-transform: translate3d(0%, 0, 0);
			 -o-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
	}

/* DIALOG CONTENT */
	.modal-content {
		border: none;
		border-radius: 2px;
		-webkit-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
		   -moz-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
				box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
	}

/* DIALOG HEADER */
	.modal-header {
		min-height: 16px;
		padding: 24px;
		border-bottom: none;
	}

	.modal-title {
		font-weight: 500;
		font-size: 21px;
	}

	/* DIALOG BODY */
	.modal-body {
		padding: 0 24px;
	}

	.modal-body p {
		font-weight: 400;
		font-size: 14px;
		color: #212121;
	}

	.modal-body .lead {
		font-weight: 300;
		font-size: 16px;
		color: #757575;
	}

	.modal-body p:last-child,
	.modal-body .lead:last-child {
		margin-bottom: 0;
	}

/* DIALOG FOOTER */
	.modal-footer {
		margin-top: 24px;
		padding: 8px 0;
		border-top: none;
	}

	.modal-footer .btn {
		height: 36px;
		margin-right: 8px;
		padding: 8px 10px;
		border: none;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: 500;
		color: #009688;
		background-color: #fff;
	}

	.modal-footer .btn:focus {
		outline: none;
		box-shadow: none;
	}

	.modal-footer .btn:focus,
	.modal-footer .btn:hover {
		color: #00796B;
	}

	.modal-footer .btn + .btn {
		margin-left: 0;
	}

	.modal-footer .btn + .btn:last-child {
		margin-left: -4px;
	}
.main
{
    background-color:#000000;
}

.about
{
    padding:40px 10px;
}
.white h2
{
  font-family: 'Anton', sans-serif;
    letter-spacing: 1.2px;
}
.alert
    {
        max-width:50%;
        font-size:20px;
        font-family: 'ProximaNovaSemibold';
    }
.white
{
    color:#ffffff;
    padding:5px;
}
.backwhite
{
    background-color:#ffffff;
    padding:10px;
    
}
.backwhite p
{
  font-family: 'ProximaNovaSemibold';
    font-size:16px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}

.navbar-brand span
{
     font-family: 'Anton', sans-serif;
   font-size:22px;
    text-align: center;
    color:#ffffff;

}
.workshop
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
    background-color:#ffffff;
}
.workshop h1
{
     font-family: 'ProximaNovaSemibold';
    text-align: center;
    font-size:30px;
    
}
.container1
{
    margin-left:5%;
    margin-right:5%;
}
.top
{
    margin-top:60px;
}
.margino h3
{
     font-family: 'Signika', sans-serif;
    color:#fbe266;
    letter-spacing:1.5px;
    line-height:40px;
}
.evento h3
{
     font-family: 'Signika', sans-serif;
    color:#fbe266;
    letter-spacing: 3px;
    line-height:40px;
    margin-top:-100px;
}
.modal-title
{

}
.contact
{
    margin-top:100px;
}
.set
{
    padding:10px;
}

.navbar-fixed-top.scrolled {
  background-color: #000000!important;
  transition: background-color 200ms linear;
}
.navbar-fixed-top
{
    background-color:#000000 !important;
}
.products h4,
{
      font-family: 'ProximaNovaSemibold';
    text-align: center;
    font-size:25px;
}
.color
{
    font-family: 'ProximaNovaSemibold';
    text-align: center;
    font-size:30px;
    color:#f4f4f4;
   
}
.main
{
width: 100vw;
height: 100vh;
    padding-top:150px;
    background: url(../images/rig.jpg);
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
background-position: center, center;
}
.main h3
{
     font-family: 'Signika', sans-serif;
    text-align: center;
    font-size:35px;
    letter-spacing:2px;
    color:#ffffff;
}
.main p
{
        font-family: 'ProximaNovaSemibold';
    text-align: center;
    font-size:25px;
    color:#ffffff;
}
}
.products p
{
   text-align: center;
}
#myTopnav
{
margin:0px 10px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav .icon {
  display: none;
}
.navbar-nav>li a
{
    color: #ddd !important;
    font-family: 'Anton', sans-serif;
     font-size:17px;
    letter-spacing: 1.9px;
    line-height:29px;
    font-weight:400;
    margin:0px 10px;
}

 .navbar-nav>li a:hover
{
    color:#ff1111 !important;
     transition: width .3s;
     font-family: 'Anton', sans-serif;
    border-bottom:2px solid blue;
}
#aks:hover {
    content: url('../images/non-tech.png');
}
#borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
   border-image: url(../images/border.png) 20% round;
}
#borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/border.png) 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url(../images/border.png) 40 stretch; /* Opera 11-12.1 */
  border-image: url(../images/border.png) 30 stretch;
}
.button1 {
  background-color: #f72f25;
  border: none;
  color: white;
   border-radius:18px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'ProximaNovaSemibold';
}
.button2 {
  background-color: #4762ff;
  border: none;
  color: white;
   border-radius:18px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'ProximaNovaSemibold';
}
.button3 {
  background-color:#e9ff32;
  border: none;
  color: #000;
   border-radius:18px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'ProximaNovaSemibold';
}
.buttonexplore {
  background-color: #f72f25;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'ProximaNovaSemibold';
}

.main li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
    color:#ffffff;
  text-transform: uppercase;
}

.main li span {
  display: block;
  font-size: 4.5rem;
    color:#63e265;
}
.spot
{
    max-width:300px;
    width:100%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    padding:10px;
  width: 100%;
}
.card:hover {
    border-radius:18px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
.events
{
    position: relative;
    margin-top:5%;

}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.right
{
    border-right:1px solid #f4f4f4;
    padding:5px;
}
.left
{
    border-left:1px solid #f4f4f4;
    padding:5px;
}
.container1
{
margin-left:5%;
    margin-right:5%;
}
.images
{
     max-width:210px;
}
footer
{
    margin:30px 0px;
}
footer p
{
     font-family: 'ProximaNovaSemibold';
    color:#bbb;
    font-size:20px;
}
.shadow h3
{
  font-family: 'ProximaNovaSemibold';
    color:#bbb;
    font-size:30px;
}
input[type=text] {
    width: 100%;
    max-width:500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=password] {
    width: 100%;
    max-width:500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
    display:
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.stickyfooter {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:transparent;
   color: white;
   text-align: center;
}
.craft
{
     font-family: 'ProximaNovaSemibold';
     color:#bbb;
    font-size:15px;
}
.zoom {
  padding:5px;
  background-color:transparent;
  transition: transform .2s;
  width: 320px;
  height: 300px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.evento
{
    margin-top:100px;
}
.col-md-6,.col-md-4
{
    margin-top:20px;
}

.logos {

  text-align: center;
  width: 100%;
  height: 100px;
  margin: auto;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.logos1 {

  text-align: center;
}
.logos b{
  font: 60 10vh "Vibur";
  color: #fee;
  text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logos b span{
  animation: blink linear infinite 2s;
}
.logos1 b{
  font: 60 10vh "Vibur";
  color: #fee;
  text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logos1 b span{
  animation: blink linear infinite 2s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
.navbar-default .navbar-toggle {
 border:none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
    .downer
    {
        font-size:25px !important;
        margin-top:100px;
        line-height:30px;
    }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    .alert
    {
        max-width:100%;
        font-size:20px;
        font-family: 'ProximaNovaSemibold';
    }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media (max-width: 768px)
{
#myTopnav
{
    padding-left:0px;
}
    .about
    {
        margin-top:-5px !important;
    }
        .images
{
    max-width:200px;
}
    .main
    {
         padding-top:100px !important;
    }
    .spot
{
    max-width:200px;
    width:100%;
}
    .evento h3{
     font-family: 'Anton', sans-serif;
    color:#fbe266;
    letter-spacing: 3px;
    line-height:40px;
    margin-top:-50px;
}
    .shadow h3 {
    font-family: 'ProximaNovaSemibold';
    color: #bbb;
    font-size: 25px;
}
    .shadow p
    {
       font-size: 15px;

    }
    .h3{
     font-family: 'Anton', sans-serif;
    color:#fbe266;
    letter-spacing:3px;
    line-height:40px;
    margin-top:-50px;
}
    .top h3
{
     font-family: 'Anton', sans-serif;
    color:#fbe266;
    letter-spacing: 3px;
    line-height:40px;
    margin-top:-100px;
}
   .navbar-brand span
    {
        margin-top:-30px;
    }
    .fa-bars
    {
    float:right;
        color:#ffffff;
    font-size:20px;
        padding-left:520px;
        margin:20px;
    }
    .content h1 {
    font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:30px;
    text-align:center;
    padding-top:50px;
    font-weight:400;
        line-height:48px;
}
    #borderimg1 {
  border:none;
}
.work
{
    padding-top:100px;
}
.content h2 {
     font-family: 'ProximaNovaSemibold';
    color: #000000;
    font-size:20px;

    text-align:center;
    font-weight:400;
        line-height:32px;

}
    .products
{
 margin-top:80px;
}
    .logos b{
  font: 40 8vh "Vibur";
 color: #fee;   
  text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em #AD8622, 0 0 0.5em #AD8622, 0 0 0.1em #AD8622, 0 10px 3px #000;
}
.logos b span{
  animation: blink linear infinite 2s;
}
.logos1 b{
  font: 40 8vh "Vibur";
  color: #fee;
  text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em #AD8622, 0 0 0.5em #AD8622, 0 0 0.1em #AD8622, 0 10px 3px #000;
}
.logos1 b span{
  animation: blink linear infinite 2s;
}
}
@media (max-width: 425px)
{
   .fa-bars
    {
    float:right;
    font-size:20px;
     margin-top: -2px;
     padding-left:0px;
    margin:10px;
    }
    .footerp
    {
        font-size:15px !important;
    }
    .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    letter-spacing: 1.9px;
    line-height: 29px;
    font-weight: 400;
    margin: 0px 0px;
    color: #737373;
}
    .margin-top
    {
        margin-top:20px;
    }
    .main li {
  display: inline-block;
  font-size: 0.8em;
  list-style-type: none;
  padding: 1em;
    color:#ffffff;
  text-transform: uppercase;
}

.main li span {
  display: block;
  font-size: 2rem;
    color:#63e265;
}
.white
    {
        background-color:#ffffff;
        color:#000000;
    }
     .content h1 {
    font-family: 'ProximaNovaBold';
    color: #000000;
    font-size:30px;
    text-align:center;
    padding-top:50px;
    font-weight:400;
        line-height:48px;
}
.content h2 {
     font-family: 'ProximaNovaSemibold';
    color: #000000;
    font-size:18px;
    text-align:center;
    font-weight:400;
        line-height:32px;

}
    .margino h3
{
     font-family: 'Signika', sans-serif;
    color:#fbe266;
    letter-spacing:1.5px;
    font-size:18px;
    line-height:30px;
}
    .button1 {
  background-color: #f72f25;
  border: none;
  color: white;
   border-radius:18px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'ProximaNovaSemibold';
}
.button2 {
  background-color: #4762ff;
  border: none;
  color: white;
   border-radius:18px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 4px;
  cursor: pointer;
 font-family: 'ProximaNovaSemibold';
}
    footer
    {
        position: sticky;
    }
    footer p
{
     font-family: 'ProximaNovaSemibold';
    color:#bbb;
    font-size:16px;
}
    #myVideo
    {
        margin-top:10px;
    }

.events
    {
        margin-top:60px;
    }
    .images
{
    max-width:160px;
}

}
